<style>

h3 {

background: #f0f0f0 url(images/open.png) no-repeat 0px 11px;

cursor: pointer;

border: 1px solid #aaaaaa;

margin: 0px;

padding: .5em .5em .5em 1em;

border-radius: 5px;

}

h3:hover {

background-color: #D8D8D8;

}

h3.close {

background: #ffffff url(images/close.png) no-repeat 0px 11px;

border-radius: 5px 5px 0px 0px ;

padding: .5em .5em .5em 1em;

}

.answer {

margin: 0;

border: 1px solid #aaaaaa;

border-radius: 0px 0px 5px 5px ;

padding: 1em;

overflow: auto;

}

</style>