/* Set the font family to a sans-serif font */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Make header fonts larger */
h2 {
	font-size: 125%;
}

header h1 {
	font-size: 250%;
}

/* floating layout */

header img {
		float: left;
}
}
section h1 {
	font-size: 140%;
}

/* Make fonts in footer smaller */
footer p {
	font-size: 90%;
}

/* Indent header text */
hgroup {
	text-indent: 25px;
}

/* Center footer text */
footer p {
	text-align: center;
}

#top {
	text-shadow: 3px 3px 0px red, 6px 6px 0px orange, 9px 9px 0px yellow,
		12px 12px 0px green, 15px 15px 0px blue, 18px 18px 0px indigo, 21px
		21px 0px violet;
}

/* Make First letter of header larger */
section h1::first-letter {
	font-size: 250%;
}

/* Make bold text orange and blink */
strong {
	color: orange;
	text-decoration: blink;
}

/* background color and image */
body {
	background-image: url('../images/bats.gif'); 
}

section {
	background-color: white;
}

header {
	background-color: black;
}

#top {
	background: lightblue;
}

footer {
	background-color: orange;
}

/* content box width setting */
body {
	width: 850px;
}

/* box shadows */
body {
	box-shadow: 0px 9px 18px red;
}

/* padding box setting */
body,h1,h2,p {
	padding: 0px;
}

section {
	padding: 30px 60px;
}

header img {
	padding-right: 15px;
}

hgroup {
	padding-top: 15px;
}

header h2 {
	padding-bottom: 15px;
}

footer {
	padding: 15px;
}

/* margin box setting */
body {
	margin: 0px auto;
}

h1,h2,p {
	margin: 0px;
}

section h1 {
	margin-bottom: .5em;
}

section h2 {
	margin: .8em 0em .5em 0em;
}

section p {
	margin-top: .5em;
}

/* border box setting */
body {
	border: 3px solid black;
}

section img {
	border: none;
}

footer {
	border-top: 2px solid black;
}

#top {
	border-radius: 25px;
}

/* linear gradient setting */
header {
	background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
}

footer {
	background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
}


/* Layout */
form {
	width: 450px;
	margin: 0 auto;
	padding: 15px;
}
label {
	width: 10em;
	padding-right: 1em;
	float: left;
}
#data input {
	float: left;
	width: 15em;
	margin-botton: .5em;
}

#buttons input {
	float: left;
	margin-bottom: .5em;
}
br {
	clear: left;
}
#mainContent {
	text-align: center;
}

/* Presentation */
form {
	border:2px solid navy;
}
